<%- include("../components/Header")  %>
    <!-- Navbar -->
    <nav class="bg-gray-800 text-white p-4 flex justify-between items-center">
        <a href="/settings" class="text-white">Settings</a>
            <div class="text-2xl font-bold">Nama Perusahaan</div>
        <div class="flex items-center">
          <span class="text-white mr-2">Username</span>
          <img src="link_foto_profil" alt="Foto Profil" class="h-8 w-8 rounded-full">
        </div>
    </nav>

    <!-- Main Content -->
    <main class="w-full mx-auto p-4">
      <!-- Three larger boxes side by side -->
      <div class="flex justify-between mb-6">
        <div class="w-1/3 p-10 bg-gray-100 rounded-lg shadow-md">
          <!-- Data 1 -->
          <h3>Jumlah Creditor: <%= creditorsArr.length %> </h3>
        </div>
        <div class="w-1/3 p-10 bg-gray-100 rounded-lg shadow-md mx-4">
          <!-- Data 2 -->
          <h3>Total Tagihan: <%= totalClaimCreditors %></h3>
        </div>
        <div class="w-1/3 p-10 bg-gray-100 rounded-lg shadow-md">
          <!-- Data 3 -->
          <h3>Detail...</h3>
        </div>
      </div>
      <div>
          <a href='/details-trustee/form-addCreditor' class="btn btn-active btn-accent">
            Add Kreditor
          </a>
      </div><br>

      <table class="w-full">
        <thead class="bg-accent" style="border-radius: 10px">
            <tr>
                <th class="px-4 py-2">No</th>
                <th class="px-4 py-2">Name</th>
                <th class="px-4 py-2">Email</th>
                <th class="px-4 py-2">Domicile</th>
                <th class="px-4 py-2">Phone</th>
                <th class="px-4 py-2">Attorney Name</th>
                <th class="px-4 py-2">Claim Type</th>
                <th class="px-4 py-2">Action</th>
            </tr>
        </thead>
        <tbody>
          <% const {firstName, lastName} = creditorsArr[0].Attorney %>
            <% creditorsArr.forEach((creditor) => { %>
            <tr>
                <td class="border px-4 py-2"><%= creditor.id %></td>
                <td class="border px-4 py-2"><%= creditor.fullName %></td>
                <td class="border px-4 py-2"><%= creditor.email %></td>
                <td class="border px-4 py-2"><%= creditor.domicile %></td>
                <td class="border px-4 py-2"><%= creditor.phone %></td>
                <td class="border px-4 py-2"><%= creditor.attorneyFullName %></td>
                <td class="border px-4 py-2"><%= creditor.claimType %></td>
                <td class="border px-4 py-2">
                    <a href='/details-trustee/<%=creditor.id%>/creditors/<%=creditor.Attorney.id%>/edit' class="btn btn-active btn-accent">Edit</a>
                    <a href="/details-trustee/<%=creditor.id%>/creditor/<%=creditor.Attorney.id%>/delete" class="btn btn-active btn-accent">Delete</a>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</html>
